{% extends 'incl/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <p class="header_logo">
        Log In
    </p>
    <form class="form mt-5" action="/login/" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        {% buttons %}
            <button type="submit" class="btn btn-primarybtn btn-success btn_style btn_margin">Submit!</button>
        {% endbuttons %}
    </form>
    <br>
    <a href="{% url "register" %}" class="login">
        create an account
    </a>
{% endblock content %}
