{% extends 'incl/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <p class="header_logo">
        Registration
    </p>
        <form class="form mt-5" action="/register/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        {% buttons %}
            <button type="submit" class="btn btn-primarybtn btn-success btn_style btn_margin">Register!</button>
        {% endbuttons %}
        </form>
{% endblock content %}
